/* Global styles */
/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-image: url(../images/landing-page-bg.jpeg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  pointer-events: none;
}

header {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Navbar */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

nav .navbar-brand {
  color: white;
  font-size: xx-large;
  font-weight: bolder;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 auto 0;
  padding-top: 0;
}

main span {
  margin-left: 15%;
}

main h1 {
  color: white;
  font-size: 2.5rem;
}

/* Create Your Holiday Section */
#holiday-creator {
  background-color: #e1e1af;
  padding: 20px;
  border-radius: 5px;
  margin-top: 2rem;
}

.acc-selection,
.price-range,
.places-visit {
  margin-top: 0.5rem;
}

#holiday-creator .btn-primary {
  margin-top: 1.3rem;
  background-color: #49634f;
  border: none;
}

/* Display Package */
#display-package {
  display: none;
  background-color: #5fb49f;
  padding: 20px;
  border-radius: 5px;
  margin: 2rem auto;
  max-width: 400px;
}

#display-package h2 {
  margin-bottom: 1rem;
}

#package-details {
  background-color: #1d9089;
}

#package-details .card-title {
  font-size: 140%;
  text-align: center;
  color: white;
}

#package-details .card-text {
  background-color: #49634f;
  color: white;
  font-size: 110%;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

footer p {
  color: #e1e1af;
  margin: 0 auto 0 4%;
}

/* Social links */
#social-links {
  list-style: none;
  display: flex;
  justify-content: start;
  margin-bottom: 0;
  padding: 1rem;
}

#social-links li {
  margin: 0 0.8rem 0 0.8rem;
}

#social-links a {
  color: white;
  font-size: x-large;
}

/* Media screens */
/* Screen 768px */
@media screen and (min-width: 768px) {
  /* Navbar */
  nav .navbar-brand {
    font-size: xx-large;
  }

  .navbar-nav {
    font-size: 140%;
  }

  /* Main */
  main h2 {
    margin-top: 0;
  }
}

/* Screen 992px */
@media screen and (min-width: 992px) {
  /* Navbar */
  header {
    display: flex;
    justify-content: start;
    margin-left: 2.5%;
  }

  /* Create Your Holiday Section */
  #creator-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  /* Remove top margin of form fields */
  .acc-selection,
  .price-range,
  .places-visit {
    margin-top: 0;
  }

  /* Create button */
  #creator-form button {
  }
}

/* Screen 1200px */
@media screen and (min-width: 1200px) {
  /* Main */
  main h2 {
    font-size: 3rem;
  }
}
