/* Global styles */
/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  background-image: url(../images/landing-page-bg.jpeg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

/* Navbar */
nav .navbar-brand {
  color: white;
  font-size: xx-large;
}

nav .navbar-toggler {
  border: none;
}

nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav {
  font-size: 120%;
}

.nav-link {
  color: white;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h2 {
  color: white;
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

/* Bottom card section */
.row {
  margin-top: 9%;
}

/* Media screens */

/* Screen 768px */
@media screen and (min-width: 768px) {
  /* Navbar */
  nav .navbar-brand {
    font-size: xx-large;
  }

  .navbar-nav {
    font-size: 140%;
  }

  /* Main */
  main h2 {
    margin-top: 0;
  }
}

/* Screen 992px */
@media screen and (min-width: 992px) {
  /* Navbar */
  .nav-item {
    margin-right: 5%;
  }
}

/* Screen 1200px */
@media screen and (min-width: 1200px) {
  /* Main */
  main h2 {
    font-size: 3rem;
  }
}
