/* Global styles */
/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  background-image: url(../images/landing-page-bg.jpeg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

/* Navbar */
nav .navbar-brand {
  color: white;
  font-size: xx-large;
}

nav .navbar-toggler {
  border: none;
}

nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
  font-weight: bolder;
}

.navbar-nav {
  font-size: 120%;
}

.nav-link {
  color: white;
}

/* Social links */
#social-links {
  list-style: none;
  display: flex;
  justify-content: start;
  justify-content: space-around;
  padding: 0 !important;
}

#social-links a {
  color: #264417;
  font-size: x-large;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main span {
  margin-left: 15%;
}

main h1 {
  color: white;
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

/* Create Your Holiday Section */
#holiday-creator {
  background-color: #e1e1af;
  padding: 20px;
  border-radius: 5px;
}

#display-package {
  display: none;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
}

#display-package .card-title {
  font-size: large;
}

/* Bottom card section */

#bottom-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#bottom-cards .card {
  width: 18rem;
  margin-bottom: 1.5rem;
  border: none;
}

#bottom-cards .card-body {
  background-color: #e1e1af;
}

#bottom-cards .card-title,
#bottomCards .card-text {
  font-weight: bold;
}

#bottom-cards .btn-primary {
  background-color: #264417;
  border: none;
}

/* Media screens */
/* Screen 768px */
@media screen and (min-width: 768px) {
  /* Navbar */
  nav .navbar-brand {
    font-size: xx-large;
  }

  .navbar-nav {
    font-size: 140%;
  }

  /* Main */
  main h2 {
    margin-top: 0;
  }
}

/* Screen 992px */
@media screen and (min-width: 992px) {
  /* Navbar */
  .navbar-nav {
    margin-right: 32% !important;
  }

  .nav-item {
    margin-right: 10%;
  }

  /* Social links */
  #social-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-top: 1rem;
    margin-left: 0;
    padding: 0;
  }

  #social-links a {
    color: white;
    font-size: 1.4rem;
  }

  .header-one {
    text-decoration: underline;
  }
  
  /* Bottom cards */
  #bottom-cards .card-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 14rem;
  }

  #bottom-cards .card {
    width: 15rem;
  }
}

/* Screen 1200px */
@media screen and (min-width: 1200px) {
  /* Main */
  main h2 {
    font-size: 3rem;
  }

  /* Navbar */
  .navbar-nav {
    margin-right: 38% !important;
  }

  /* Bottom cards */
}
